<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681986405885-gfppj7edi8rbb3h1t1gms2el14gr2c1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681986405885-gfppj7edi8rbb3h1t1gms2el14gr2c1l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681986405885-eo2qfeqgps14ha197rionb2jqa48r8cn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cuMAL88umUhVmgsdyDoaCecE6a_cl9s</string>
	<key>GCM_SENDER_ID</key>
	<string>681986405885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ko.punchline</string>
	<key>PROJECT_ID</key>
	<string>punchline-f9af3</string>
	<key>STORAGE_BUCKET</key>
	<string>punchline-f9af3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681986405885:ios:3708edefd8a1355dd49594</string>
	<key>DATABASE_URL</key>
	<string>https://punchline-f9af3.firebaseio.com</string>
</dict>
</plist>